{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center flex-column">
                <h1 class="m-5 col text-center">
                    Bienvenue dans le backoffice d'Auparavant</h1>

                {% if not app.user %}
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="row">
                            <div class="form-group">
                                <label class="mb-2" for="inputEmail">Adresse électronique :</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="my-2" for="inputPassword">Mot de passe :</label>
                                <input type="password" name="password" id="inputPassword" class="form-control mb-5" autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center m-auto">
                                <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="mb-3 text-center">
                        Vous êtes connecté en tant que <b>{{ app.user.userIdentifier }} </b>
                    </div>
                    <div class="col text-center m-auto">
                        <a class="btn btn-lg btn-primary" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <img class="col img-fluid" src="{{ asset('css/pictures/appareilphotovintage.png') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}
