{% extends 'base.html.twig' %}

{% block body %}
    {% if not app.user %}
    <form method="post" class="mx-auto" style="max-width: 400px;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'login.message'|trans }} {{ app.user.userIdentifier }}
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'login.instruction'|trans }}</h1>
        <label for="inputEmail">{{ 'user_access.email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" autofocus>
        <br>
        <label for="inputPassword">{{ 'user_access.password'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <br>
        
        <div class="text-center">
        <button class="btn btn-lg btn-secondary" type="submit">
            {{ 'button.login'|trans }}
        </button>
        <button class="btn btn-lg btn-secondary" type="submit">
            <a href="{{ path('app_forgot_password_request') }}">
            {{ 'button.forgotten_password'|trans }}
            </a>
        </button>
        </div>
    </form>
    {% else %}
        <div class="text-center">
            <p>{{ 'login.already_logged_in'|trans }}</p>
            <a href="{{ path('app_main') }}" class="btn btn-secondary">{{ 'button.home'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
