{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
    <p>
        {{ 'reset_password.first_message'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'reset_password.second_message'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'reset_password.try_again'|trans }}</a>.</p>
    <p>{{ 'reset_password.third_message'|trans }} <a href="{{ path('app_main') }}">{{ 'reset_password.home'|trans }}</a></p>
    </div>
        </div>
        </div>
{% endblock %}
