<h1>{{ 'reset_password.h1'|trans }}</h1>

<p>{{ 'reset_password.fourth_message'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'reset_password.fifth_message'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{ 'reset_password.see_you'|trans }}</p>
