<!DOCTYPE html>

<title>Index des souvenirs</title>

{% block body %}
    <h1>Index des souvenirs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Photographie principale</th>
                <th>Date de la photographie</th>
                {# <th>PublishedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memory in memories %}
            <tr>
                <td>{{ memory.id }}</td>
                <td>{{ memory.title }}</td>
                <td>{{ memory.content }}</td>
                <td>{{ memory.mainPicture }}</td>
                <td>{{ memory.pictureDate ? memory.pictureDate|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ memory.publishedAt ? memory.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.createdAt ? memory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.updatedAt ? memory.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_memory_show', {'id': memory.id}) }}">voir</a>
                    <a href="{{ path('app_memory_edit', {'id': memory.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun élément n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_memory_new') }}">Créer un nouveau lieu</a>
{% endblock %}
