<!DOCTYPE html>

<title>Memory index</title>

{% block body %}
    <h1>Memory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Picture_date</th>
                <th>Main_picture</th>
                <th>PublishedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memory in memories %}
            <tr>
                <td>{{ memory.id }}</td>
                <td>{{ memory.title }}</td>
                <td>{{ memory.content }}</td>
                <td>{{ memory.pictureDate ? memory.pictureDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.mainPicture }}</td>
                <td>{{ memory.publishedAt ? memory.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.createdAt ? memory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.updatedAt ? memory.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_memory_show', {'id': memory.id}) }}">show</a>
                    <a href="{{ path('app_memory_edit', {'id': memory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_memory_new') }}">Create new</a>
{% endblock %}
