<div class="form-group">
    {{ form_start(form) }}
        {{ form_widget(form) }}
            <div class="row">
		        <div class="col d-flex flex-column flex-md-row mx-md-3 my-md-2 align-items-md-start">
                    <button class="btn btn-lg btn-success text-white mb-2">
                        {# Cell phone #}
						{# <div class="d-block d-sm-none">{{ button_label|default(' '|trans) }}<i class="bi bi-check-square-fill"></i></div> #}
						{# Else #}
						<div class="d-block">{{ button_label|default('button.submit'|trans) }}</div>
                    </button>
                    <a class="btn btn-lg btn-secondary text-white mb-2 mx-md-2" href="{{ path('app_place_index') }}">
                        {# Cell phone #}
					    {# <div class="d-block d-sm-none"><i class="bi bi-backspace-fill"></i></div> #}
					    {# Else #}
					    <div class="d-sm-block">{{ 'button.back'|trans }}</div>
                    </a>
                </div>
	        </div>
    {{ form_end(form) }}
</div>