{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'place.title.edit'|trans }}</h1>

    {{ include('back/place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_place_index') }}">{{ 'button.back'|trans }}</a>

    {{ include('back/place/_delete_form.html.twig') }}
{% endblock %}
