{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Index des endroits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Adresse</th>
                {# <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.id }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.type }}</td>
                <td>{{ place.location.street }} {{ place.location.zipcode }} {{ place.location.city }}</td>
                {# <td>{{ place.createdAt ? place.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ place.updatedAt ? place.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_place_show', {'id': place.id}) }}">voir</a>
                    <a href="{{ path('app_place_edit', {'id': place.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun élément n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_place_new') }}">Créer un nouvel endroit</a>

<a href="{{ path('app_main') }}">accueil</a>
{% endblock %}