{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5 mx-3">{{ 'place.title.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id
                    <a class="text-decoration-none" href="{{ path('app_sort_place_by', {'order': 'id', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_place_by', {'order': 'id', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th>{{ 'place.name'|trans }}
                    <a href="{{ path('app_sort_place_by', {'order': 'name', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_place_by', {'order': 'name', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                 <th>{{ 'place.type'|trans }}
                    <a href="{{ path('app_sort_place_by', {'order': 'type', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_place_by', {'order': 'type', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>{{ 'place.address'|trans }}
                    <a href="{{ path('app_sort_place_by', {'order': 'location', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_place_by', {'order': 'location', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if order is defined and order is same as ('location') %}
            {% if sortResults is not empty %}
                {% for sortResult in sortResults %}
                <tr>
                    <td>{{ sortResult.id }}</td>
                    <td>{{ sortResult.placeName }}</td>
                    <td>{{ sortResult.type }}</td>
                    <td>{{ sortResult.street}}</td>
                    <td>
                        <a href="{{ path('app_memory_show', {'id': sortResult.id}) }}">{{ 'button.show'|trans }}</a>
                        <a href="{{ path('app_memory_edit', {'id': sortResult.id}) }}">{{ 'button.edit'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9">Aucun élément n'a été trouvé</td>
                </tr>
            {% endif %}
        {% else %}
            {% if places is not empty %}
                {% for place in places %}
                <tr>
                    <td>{{ place.id }}</td>
                    <td>{{ place.name }}</td>
                    <td>{{ place.type }}</td>
                    <td>{{ place.location.street }} {{ place.location.zipcode }} {{ place.location.city }}</td>
                    <td>
                        <a href="{{ path('app_place_show', {'id': place.id}) }}" title= "{{ 'button.show'|trans }}" aria-label ="{{ 'button.show'|trans }}"><i class="bi bi-eye mx-2" style="font-size: 1.5rem; color:#0761ff;"></i></a>
                        <a href="{{ path('app_place_edit', {'id': place.id}) }}" title= "{{ 'button.edit'|trans }}" aria-label ="{{ 'button.edit'|trans }}"><i class="bi bi-pencil-fill" style="font-size: 1.5rem; color: #ffc107;"></i></a>       
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9">{{ 'no_records_found'|trans }}</td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>
        {# If you're on a cell phone #}
            <div class="d-block d-sm-none"><a class="btn btn-lg btn-success m-5"  href="{{ path('app_place_new') }}"><i class="bi bi-plus-square-fill"></i></a></div>
            <div class="d-block d-sm-none"><a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}"><i class="bi bi-backspace-fill"></i></a></div>
        {# Else #}
            <div class="d-none d-sm-block"><a class="btn btn-lg btn-success m-5"  href="{{ path('app_place_new') }}">{{ 'place.new'|trans }}</a></div>
            <div class="d-none d-sm-block"><a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a></div>
{% endblock %}