{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'place.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>{{ 'place.name'|trans }}</th>
                <td>{{ place.name }}</td>
            </tr>
            <tr>
                <th>{{ 'place.type'|trans }}</th>
                <td>{{ place.type }}</td>
            </tr>
            <tr>
                <th>{{ 'place.address'|trans }}</th>
                <td>{{ place.location.street }} {{ place.location.zipcode }} {{ place.location.city }}</td>
            </tr>
            {# <tr>
                <th>CreatedAt</th>
                <td>{{ place.createdAt ? place.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ place.updatedAt ? place.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>
    <div class="row">

        <div class="ms-5 col-2">
            <a class="btn btn-lg btn-secondary text-white d-inline-block" href="{{ path('app_place_index') }}">{{ 'button.back'|trans }}</a>
        </div>
        <div class="col-1">
            <a class="btn btn-lg btn-success" href="{{ path('app_place_edit', {'id': place.id}) }}">{{ 'button.edit'|trans }}</a>
        </div>
        <div class="col-1">
            {{ include('back/place/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
