{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'place.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>{{ 'place.name'|trans }}</th>
                <td>{{ place.name }}</td>
            </tr>
            <tr>
                <th>{{ 'place.type'|trans }}</th>
                <td>{{ place.type }}</td>
            </tr>
            <tr>
                <th>{{ 'place.address'|trans }}</th>
                <td>{{ place.location.street }} {{ place.location.zipcode }} {{ place.location.city }}</td>
            </tr>
            {# <tr>
                <th>CreatedAt</th>
                <td>{{ place.createdAt ? place.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ place.updatedAt ? place.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>
        <div class="row">

            <div class="col d-flex flex-column flex-md-row mx-3 my-2 align-items-md-start">
                <a class="btn btn-lg btn-secondary text-white d-inline-block mb-2 mx-md-3" href="{{ path('app_place_index') }}">
                {# Cell phone #}
                {# <div class="d-block d-sm-none"><i class="bi bi-backspace-fill"></i></div> #}
                {# Else #}
                <div class="d-block">{{ 'button.back'|trans }}</div>
                </a>
            
                <a class="btn btn-lg btn-warning text-white" href="{{ path('app_place_edit', {'id': place.id}) }}">
                {# Cell phone #}
                {# <div class="d-block d-sm-none"><i class="bi bi-pencil-fill"></i></div> #}
                {# Else #}
                <div class="d-block">{{ 'button.edit'|trans }}</div>
                </a>
            </div>

        </div>

            <div class="px-3 col col-md-2 d-md-inline-block div-btn-delete">
                {{ include('back/place/_delete_form.html.twig') }}
            </div>

{% endblock %}
