{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-md-start">{{ 'user.title.index'|trans }}</h1>

    <table class="table table-auto">
        <thead>
            <tr>
                <th class="col-1 text-center align-middle">Id
                    <a class= "text-decoration-none" href="{{ path('app_sort_user_by', {'order': 'id', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'id', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th class="text-center align-middle">{{ 'user.firstname'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'firstname', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'firstname', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="text-center align-middle">{{ 'user.lastname'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'lastname', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'lastname', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="text-center align-middle">{{ 'user.email'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'email', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'email', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                {# <th class="text-center align-middle">{{ 'user.password'|trans }}</th> #}
                 <th class="text-center align-middle">{{ 'user.role'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'roles', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'roles', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="text-center align-middle">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="text-center align-middle">{{ user.id }}</td>
                <td class="text-center align-middle">{{ user.firstname }}</td>
                <td class="text-center align-middle">{{ user.lastname }}</td>
                <td class="text-center align-middle">{{ user.email }}</td>
                {# <td class="text-center align-middle">{{ user.password }}</td> #}
                <td class="text-center align-middle">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="text-center align-middle">
                  <a href="{{ path('app_user_show', {'id': user.id}) }}" title= "{{ 'button.show'|trans }}" aria-label ="{{ 'button.show'|trans }}"><i class="bi bi-eye mx-2" style="font-size: 1.5rem; color:#0761ff;"></i></a>
                  <a href="{{ path('app_user_edit', {'id': user.id}) }}" title= "{{ 'button.edit'|trans }}" aria-label ="{{ 'button.edit'|trans }}"><i class="bi bi-pencil-fill" style="font-size: 1.5rem; color: #ffc107;"></i></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {# If you're on a cell phone #}
            {# <div class="d-inline-block d-sm-none"><a class="btn btn-lg btn-success m-5" href="{{ path('app_user_new') }}"><i class="bi bi-plus-square-fill"></i></a></div>
            <div class="d-inline-block d-sm-none"><a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}"><i class="bi bi-backspace-fill"></i></a></div> #}
        {# Else #}
            <div class="d-md-inline-block d-block text-center vertical-align-middle mb-2 mx-md-5"><a class="btn btn-lg btn-dark-purple btn-mobile text-white" href="{{ path('app_user_new') }}">{{ 'place.new'|trans }}</a></div>
            <div class="d-md-inline-block d-block text-center vertical-align-middle mb-2"><a class="btn btn-lg btn-secondary btn-mobile text-white" href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a></div>
{% endblock %}