{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5 mx-3">Index des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id
                    <a class= "text-decoration-none" href="{{ path('app_sort_user_by', {'order': 'id', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'id', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th>Prénom
                    <a href="{{ path('app_sort_user_by', {'order': 'firstname', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'firstname', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>Nom
                    <a href="{{ path('app_sort_user_by', {'order': 'lastname', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'lastname', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>Adresse électronique
                    <a href="{{ path('app_sort_user_by', {'order': 'email', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'email', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>Mot de passe</th>
                 <th>Rôle
                    <a href="{{ path('app_sort_user_by', {'order': 'roles', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'roles', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                {# <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {# <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                  <a href="{{ path('app_user_show', {'id': user.id}) }}" title= "accéder à l'utilisateur" aria-label ="accéder à l'utilisateur"><i class="bi bi-eye mx-2" style="font-size: 1.5rem; color:#0761ff;"></i></a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" title= "éditer l'utilisateur" aria-label ="éditer l'utilisateur"><i class="bi bi-pencil-fill" style="font-size: 1.5rem; color: #ffc107;"></i></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun élément n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-lg btn-success m-5" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>

 <a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}">Accueil</a>
{% endblock %}