{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5 mx-3">{{ 'user.title.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id
                    <a class= "text-decoration-none" href="{{ path('app_sort_user_by', {'order': 'id', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'id', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th>{{ 'user.firstname'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'firstname', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'firstname', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>{{ 'user.lastname'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'lastname', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'lastname', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>{{ 'user.email'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'email', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'email', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>{{ 'user.password'|trans }}</th>
                 <th>{{ 'user.role'|trans }}
                    <a href="{{ path('app_sort_user_by', {'order': 'roles', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_user_by', {'order': 'roles', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                  <a href="{{ path('app_user_show', {'id': user.id}) }}" title= "{{ 'button.show'|trans }}" aria-label ="{{ 'button.show'|trans }}"><i class="bi bi-eye mx-2" style="font-size: 1.5rem; color:#0761ff;"></i></a>
                  <a href="{{ path('app_user_edit', {'id': user.id}) }}" title= "{{ 'button.edit'|trans }}" aria-label ="{{ 'button.edit'|trans }}"><i class="bi bi-pencil-fill" style="font-size: 1.5rem; color: #ffc107;"></i></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {# {% if is_mobile %} #}
            {# <a class="btn btn-lg btn-success m-5" href="{{ path('app_user_new') }}"><i class="bi bi-plus-square-fill"></i></a>
            <a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}"><i class="bi bi-backspace-fill"></i></a> #}
        {# {% else %} #}
            <a class="btn btn-lg btn-success m-5" href="{{ path('app_user_new') }}">{{ 'place.new'|trans }}</a>
            <a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a>
        {# {% endif %} #}
{% endblock %}