{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'user.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'user.firstname'|trans }}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'user.lastname'|trans }}</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'user.email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'user.password'|trans }}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{{ 'user.role'|trans }}</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>
    {# {% if is_mobile %} #}
        {# <div class="row">

            <div class="ms-5 col-2">
                <a class="btn btn-lg btn-secondary text-white d-inline-block" href="{{ path('app_user_index') }}"><i class="bi bi-backspace-fill"></i></a>
            </div>
            <div class="col-1">
                <a class="btn btn-lg btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="bi bi-pencil-fill"></i></a>
            </div>
            <div class="col-1">
                {{ include('back/user/_delete_form.html.twig') }}
            </div>

        </div> #}
    {# {% else %} #}
        <div class="row">

            <div class="ms-5 col-2">
                <a class="btn btn-lg btn-secondary text-white d-inline-block" href="{{ path('app_user_index') }}">{{ 'button.back'|trans }}</a>
            </div>
            <div class="col-1">
                <a class="btn btn-lg btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'button.edit'|trans }}</a>
            </div>
            <div class="col-1">
                {{ include('back/user/_delete_form.html.twig') }}
            </div>

        </div>
    {# {% endif %} #}
{% endblock %}
