{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'picture.title.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'picture.picture'|trans }}</th>
                <th>{{ 'picture.memory'|trans }}</th>
                {# <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.picture }}</td>
                <td>{{ picture.memory.title }}</td>
                {# <td>{{ picture.createdAt ? picture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ picture.updatedAt ? picture.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_picture_show', {'id': picture.id}) }}">{{ 'button.show'|trans }}</a>
                    <a href="{{ path('app_picture_edit', {'id': picture.id}) }}">{{ 'button.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_picture_new') }}">{{ 'picture.new'|trans }}</a>

<a href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a>
{% endblock %}