{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'picture.title'|trans }}o</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>{{ 'picture.picture'|trans }}</th>
                <td>{{ picture.picture }}</td>
                <td><img src={{picture.picture}}></td>
                <td><img src="{{('/assets/pictures/' ~ picture.picture)}}"></td>
            </tr>
            <tr>
                <th>{{ 'picture.memory'|trans }}</th>
                <td>{{ picture.memory.title }}</td>
            </tr>
            {# <tr>
                <th>CreatedAt</th>
                <td>{{ picture.createdAt ? picture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ picture.updatedAt ? picture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_picture_index') }}">{{ 'button.back'|trans }}</a>

    <a href="{{ path('app_picture_edit', {'id': picture.id}) }}">mod{{ 'button.edit'|trans }}ifier</a>

    {{ include('back/picture/_delete_form.html.twig') }}
{% endblock %}
