{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'memory.title.edit'|trans }}</h1>

    {{ include('back/memory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_memory_index') }}">{{ 'button.back'|trans }}</a>

    {{ include('back/memory/_delete_form.html.twig') }}
{% endblock %}
