{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'memory.title.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'memory.article.title'|trans }}</th>
                <th>{{ 'memory.content'|trans }}</th>
                <th>{{ 'memory.main_picture'|trans }}</th>
                <th>{{ 'memory.picture_date'|trans }}</th>
                <th>{{ 'memory.place'|trans }}</th>
                <th>{{ 'memory.address'|trans }}</th>
                <th>{{ 'memory.user'|trans }}</th>
                {# <th>PublishedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for memory in memories %}
            <tr>
                <td>{{ memory.id }}</td>
                <td>{{ memory.title }}</td>
                <td>{{ memory.content }}</td>
                <td>{{ memory.mainPicture }}</td>
                <td>{{ memory.pictureDate ? memory.pictureDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.place.name }} {{ memory.place.type }}</td>
                <td>{{ memory.location.street }} {{ memory.location.zipcode }} {{ memory.location.city }}</td>
                <td>{{ memory.user.firstname }} {{ memory.user.lastname }}</td>
                {# <td>{{ memory.publishedAt ? memory.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.createdAt ? memory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ memory.updatedAt ? memory.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_memory_show', {'id': memory.id}) }}">{{ 'button.show'|trans }}</a>
                    <a href="{{ path('app_memory_edit', {'id': memory.id}) }}">{{ 'button.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_memory_new') }}">{{ 'memory.new'|trans }}</a>

<a href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a>
{% endblock %}