{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'memory.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memory.id }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.article.title'|trans }}</th>
                <td>{{ memory.title }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.content'|trans }}</th>
                <td>{{ memory.content }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.main_picture'|trans }}</th>
                <td>{{ memory.mainPicture }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.picture_date'|trans }}</th>
                <td>{{ memory.pictureDate ? memory.pictureDate|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.place'|trans }}</th>
                <td>{{ memory.place.name }} {{ memory.place.type }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.address'|trans }}</th>
                <td>{{ memory.location.street }} {{ memory.location.zipcode }} {{ memory.location.city }}</td>
            </tr>
            <tr>
                <th>{{ 'memory.user'|trans }}</th>
                <td>{{ memory.user.firstname }} {{ memory.user.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_memory_index') }}">{{ 'button.back'|trans }}</a>

    <a href="{{ path('app_memory_edit', {'id': memory.id}) }}">{{ 'button.edit'|trans }}</a>

    {{ include('back/memory/_delete_form.html.twig') }}
{% endblock %}
