{% extends 'base.html.twig' %}

{% block body %}
    <h1>Souvenir</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memory.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ memory.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ memory.content }}</td>
            </tr>
            <tr>
                <th>Photographie principale</th>
                <td>{{ memory.mainPicture }}</td>
            </tr>
            <tr>
                <th>Date de la photographie</th>
                <td>{{ memory.pictureDate ? memory.pictureDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom et type de lieu</th>
                <td>{{ memory.place.name }} {{ memory.place.type }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ memory.location.street }} {{ memory.location.zipcode }} {{ memory.location.city }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ memory.user.firstname }} {{ memory.user.lastname }}</td>
            </tr>
            {# <tr>
                <th>PublishedAt</th>
                <td>{{ memory.publishedAt ? memory.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ memory.createdAt ? memory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ memory.updatedAt ? memory.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_memory_index') }}">retour à la liste</a>

    <a href="{{ path('app_memory_edit', {'id': memory.id}) }}">modifier</a>

    {{ include('back/memory/_delete_form.html.twig') }}
{% endblock %}
