{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-success text-white d-inline">{{ button_label|default('Valider') }}</button>
    <div class="col d-inline mx-3"><a class="btn btn-lg btn-secondary text-white m-1"  href="{{ path('app_location_index') }}">Retour à la liste</a></div>
{{ form_end(form) }}
