{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'location.title.edit'|trans }}</h1>
    <div class="">
    {{ include('back/location/_form.html.twig', {'button_label': 'button.update'|trans}) }}

    <a href="{{ path('app_location_index') }}">{{ 'button.back'|trans }}</a>

    {{ include('back/location/_delete_form.html.twig') }}
    </div>
{% endblock %}
