{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-md-start">{{ 'location.title.index'|trans }}</h1>

    <table class="table table-auto">
        <thead>
            <tr>
                <th class="col-1 text-center align-middle">Id
                    <a class= "text-decoration-none" href="{{ path('app_sort_location_by', {'order': 'id', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'id', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.area'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'area', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'area', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.department'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'department', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'department', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.district'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'district', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'district', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.street'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'street', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'street', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.zipcode'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'zipcode', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'zipcode', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.city'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'city', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-alpha-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'city', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-alpha-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.latitude'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'latitude', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'latitude', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th class="col-2 text-center align-middle">{{ 'location.longitude'|trans }}
                    <a href="{{ path('app_sort_location_by', {'order': 'longitude', 'selectedDirection': 'asc'}) }}"><i class="bi bi-sort-numeric-up"></i></a>
                    <a href="{{ path('app_sort_location_by', {'order': 'longitude', 'selectedDirection': 'desc'}) }}"><i class="bi bi-sort-numeric-down-alt"></i></a>
                </th>
                <th class="text-center align-middle">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td class="text-center align-middle">{{ location.id }}</td>
                <td class="text-center align-middle">{{ location.area }}</td>
                <td class="text-center align-middle">{{ location.department }}</td>
                <td class="text-center align-middle">{{ location.district }}</td>
                <td class="text-center align-middle">{{ location.street }}</td>
                <td class="text-center align-middle">{{ location.zipcode }}</td>
                <td class="text-center align-middle">{{ location.city }}</td>
                <td class="text-center align-middle">{{ location.latitude }}</td>
                <td class="text-center align-middle">{{ location.longitude }}</td>
                <td class="text-center align-middle">
                    <a href="{{ path('app_location_show', {'id': location.id}) }}" title= "{{ 'button.show'|trans }}" aria-label ={{ 'button.show'|trans }}><i class="bi bi-eye mx-2" style="font-size: 1.5rem; color:#0761ff;"></i></a>
                    <a href="{{ path('app_location_edit', {'id': location.id}) }}" title= "{{ 'button.edit'|trans }}" aria-label ={{ 'button.edit'|trans }}><i class="bi bi-pencil-fill" style="font-size: 1.5rem; color: #ffc107;"></i></a>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {# If you're on a cell phone #}
            {# <div class="d-inline-block d-sm-none"><a class="btn btn-lg btn-success m-5" href="{{ path('app_location_new') }}"><i class="bi bi-plus-square-fill"></i></a></div>
            <div class="d-inline-block d-sm-none"><a class="btn btn-lg btn-secondary text-white m-1" href="{{ path('app_main') }}"><i class="bi bi-backspace-fill"></i></a></div> #}
        {# Else #}
            <div class="d-md-inline-block d-block text-center vertical-align-middle mb-2 mx-md-5"><a class="btn btn-lg btn-dark-purple btn-mobile text-white" href="{{ path('app_location_new') }}">{{ 'location.new'|trans }}</a></div>
            <div class="d-md-inline-block d-block text-center vertical-align-middle mb-2"><a class="btn btn-lg btn-secondary btn-mobile text-white" href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a></div>
{% endblock %}                 