{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'location.title.index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'location.area'|trans }}</th>
                <th>{{ 'location.department'|trans }}</th>
                <th>{{ 'location.district'|trans }}</th>
                <th>{{ 'location.street'|trans }}</th>
                <th>{{ 'location.zipcode'|trans }}</th>
                <th>{{ 'location.street'|trans }}</th>
                <th>{{ 'location.latitude'|trans }}</th>
                <th>{{ 'location.longitude'|trans }}</th>
                {# <th>CreatedAt</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.area }}</td>
                <td>{{ location.department }}</td>
                <td>{{ location.district }}</td>
                <td>{{ location.street }}</td>
                <td>{{ location.zipcode }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                {# <td>{{ location.createdAt ? location.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ location.updatedAt ? location.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_location_show', {'id': location.id}) }}">{{ 'button.show'|trans }}</a>
                    <a href="{{ path('app_location_edit', {'id': location.id}) }}">{{ 'button.edit'|trans }}</a>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_location_new') }}">{{ 'location.new'|trans }}</a>

<a href="{{ path('app_main') }}">{{ 'button.home'|trans }}</a>
{% endblock %}