{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'location.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th>{{ 'location.area'|trans }}</th>
                <td>{{ location.area }}</td>
            </tr>
            <tr>
                <th>{{ 'location.department'|trans }}</th>
                <td>{{ location.department }}</td>
            </tr>
            <tr>
                <th>{{ 'location.district'|trans }}</th>
                <td>{{ location.district }}</td>
            </tr>
            <tr>
                <th>{{ 'location.street'|trans }}</th>
                <td>{{ location.street }}</td>
            </tr>
            <tr>
                <th>{{ 'location.zipcode'|trans }}</th>
                <td>{{ location.zipcode }}</td>
            </tr>
            <tr>
                <th>{{ 'location.street'|trans }}</th>
                <td>{{ location.city }}</td>
            </tr>
            <tr>
                <th>{{ 'location.latitude'|trans }}</th>
                <td>{{ location.latitude }}</td>
            </tr>
            <tr>
                <th>{{ 'location.longitude'|trans }}</th>
                <td>{{ location.longitude }}</td>
            </tr>
            {# <tr>
                <th>CreatedAt</th>
                <td>{{ location.createdAt ? location.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ location.updatedAt ? location.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('app_location_index') }}">{{ 'button.back'|trans }}</a>

    <a href="{{ path('app_location_edit', {'id': location.id}) }}">{{ 'button.edit'|trans }}</a>

    {{ include('back/location/_delete_form.html.twig') }}
{% endblock %}
