<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> #}
    <!-- Our custom CSS -->
    {# <link rel="stylesheet" href="{{ asset('assets/style.css') }}"> #}
    <!-- favicon -->
    {# <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon"> #}

    <title>{{ 'main.title'|trans }}</title>
</head>

<body>
    <header>   
        <nav>
                <!-- Language Switching Links -->
            <div>
                <a class="btn btn-lg btn-primary mt-5" href="{{ path('switch_language', {'locale': 'en'}) }}">{{ 'English'|trans }}</a>
                <a class="btn btn-lg btn-primary mt-5" href="{{ path('switch_language', {'locale': 'fr'}) }}">{{ 'French'|trans }}</a>
            </div>

        </nav>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
</body>

    <footer>
    </footer>

</html>
