<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> #}
    <!-- Our custom CSS -->
    {# <link rel="stylesheet" href="{{ asset('assets/style.css') }}"> #}
    <!-- favicon -->
    {# <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon"> #}

    <title>{{ 'main.title'|trans }}</title>
</head>

<body>
    <header>
        <!-- Bootstrap Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>

                <!-- Language Switching Links within the navbar -->
                <div class="navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('switch_language', {'locale': 'en'}) }}">{{ 'English'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('switch_language', {'locale': 'fr'}) }}">{{ 'French'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
    {% block body %}{% endblock %}
    </main>
</body>

    <footer class="text-center py-3">
        <p>&copy; {{ 'All Rights Reserved'|trans }} — {{ 'Company Name'|trans }}</p>
    </footer>

</html>
