{% extends 'base.html.twig' %}

{% block body %}
<div class="my-5 py-5 text-center">
        {# <img src="favicon.png" height="100" alt="Logo O'flix" class="mb-3"> #}
        <h1 class="display-6 fw-bold">Bienvenue sur le backoffice de Y'avait quoi avant.</h1>
        <div class="col-lg-6 mx-auto">

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'entité</th>
                <th>Liste</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center align-middle">Localités</td>
                <td><a class="btn btn-success" href="{{ path("app_location_index") }}">Voir</a></td>
            </tr>
            <tr>
                <td class="text-center align-middle">Lieux</td>
                <td><a class="btn btn-success" href="{{ path("app_place_index") }}">Voir</a></td>
            </tr>
            <tr>
                <td class="text-center align-middle">Souvenirs</td>
                <td><a class="btn btn-success" href="{{ path("app_memory_index") }}">Voir</a></td>
            </tr>
            <tr>
                <td class="text-center align-middle">Photographies</td>
                <td><a class="btn btn-success" href="{{ path("app_picture_index") }}">Voir</a></td>
            </tr>
            <tr>
                <td class="text-center align-middle">Utilisateurs</td>
                <td><a class="btn btn-success" href="{{ path("app_user_index") }}">Voir</a></td>
            </tr>
        </tbody>
    </table>
        <a class="btn btn-lg btn-primary mt-5" href="{{ path("app_logout") }}">
            Se déconnecter
        </a>
        </div>
    </div>
{% endblock %}
